.App {
  text-align: center;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 80px;
  /* background-color: #f8f7f7; */
}

.list-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-right: 50px;
  box-sizing: border-box; 
}

@media screen and (max-width: 850px) {
  main {
    flex-direction: column-reverse; /* Stack items vertically and reverse order */
    padding: 30px 20px; /* Adjust padding for smaller screens */
  }

  .list-container {
    margin-right: 0; /* Remove right margin to make the form full width */
    width: 100%;
  }
}
