.header {
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 50px;
}

.title {
  position: relative; 
  font-weight: bolder;
  font-size: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.theme-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: transparent;
  border: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: url('../../public/moon.svg');
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:not(:checked) + .slider:before {
  content: url('../../public/sun.svg'); 
}

input:checked + .slider {
  background-color: #6488ea;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1f1f1f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 10px; /* Adjust spacing as needed */
  font-size: 16px; /* Adjust font size as needed */
  color: inherit; /* Ensures the label text color matches the theme */
}
